/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:white;
}

nav a{
    text-decoration:none;
    color:#666;
    margin-left:35px;
    font-size:16px;
}

.hero-image{
    display:flex;
    justify-content:center;
    margin-top:60px;
}

.hero-image img{
    width:700px;
    max-width:90%;
}

h1{
    text-align:center;
    margin-top:60px;
    font-size:45px;
    font-weight:500;
    color:#424242;
}

p{
    text-align:center;
    margin-top:20px;
    font-size:20px;
    color:#666;
    line-height:30px;
}

button{
    display:block;
    margin:40px auto;
    background:#387ed1;
    color:white;
    border:none;
    padding:14px 35px;
    font-size:18px;
    border-radius:50px;
    cursor:pointer;
}